html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.content {
    min-height: 100%;
    margin-bottom: -75px;
}

.content:after {
    content: "";
    display: block;
}

.footer, .content:after {
    height: 75px;
}

ul > li:hover > ul,
ul > li > ul {
    display: none;
}

.availability > ul > li:hover > a,
.availability > ul > li > a {
    background-image: none;
}
